ul {
  width: 20rem;
  height: 2rem;
  border-radius: 8px;
  background: var(--primary-background);

  margin: 10rem auto;
}

li {
  list-style: none;
  
  height: 2rem;
  background: var(--primary-color);
  color: #FFFFFF;

  font: 700 1rem 'Ubuntu', sans-serif;

  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}